<!doctype html>

<html>
    <head>
        
        <title>Signup Page</title>
        <style>.error{
            color:red
        }
        </style>
    </head>

<body>
    
{#
    begin comment
    {% extends "base.html" %}
    {% block content %}
    {% if user_name > 1 or user_name > 3 %}
    {% else %}
    {% endif %}
    {% if verify_password != password %}
    {% if " " in user_name %}
    {% if email}
    {% endblock %}
    end comment
#}


<h1>Signup Page</h1>

    <form method="POST">
        
        <p><label>
            User name:
            <input type="text" name="user_name" />
        </label></p>
        <p class=error> {{ empty_error_user_name }} </p>

        <p><label>
            Password:
            <input type="password" name="password" />
        </label></p>
        <p class=error> {{ empty_error_password }} </p>

        <p><label>
            Verify Password:
            <input type="password" name="verify_password" />
        </label></p>
        <p class=error> {{ match_error }} </p>
        <p class=error> {{ empty_error_verify_password }} </p>

        <p><label>
            Email (optional):
            <input type="text" name="user_email" />
        </label></p>
        <p class=error> {{ email_error }} </p>


        <input type="submit" />

    </form>

</body>
</html>
